/* Error: Undefined mixin.
 *    ,
 * 10 | /   @include abstracts.screen(lg){
 * 11 | |      --box-shadow-color:rgba(0, 0 0, 0.20);
 * 12 | |   };
 *    | '---^
 *    '
 *   scss\themes\_dark.scss 10:3  @forward
 *   scss\themes\_index.scss 1:1  @use
 *   scss\main.scss 2:1           root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 10 \2502  \250c    @include abstracts.screen(lg){\a 11 \2502  \2502       --box-shadow-color:rgba(0, 0 0, 0.20);\a 12 \2502  \2502    };\a    \2502  \2514 \2500 \2500 \2500 ^\a    \2575 \a   scss\\themes\\_dark.scss 10:3  @forward\a   scss\\themes\\_index.scss 1:1  @use\a   scss\\main.scss 2:1           root stylesheet";
}
