/* Error: expected "{".
 *    ,
 * 18 | >>>>>>> 1292b66331a0a0384791d5f56c62f39c8fa9a5bc
 *    |                                                 ^
 *    '
 *   scss\base\_base.scss 18:49  @forward
 *   scss\base\_index.scss 2:1   @use
 *   scss\main.scss 1:1          root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a    \2577 \a 18 \2502  >>>>>>> 1292b66331a0a0384791d5f56c62f39c8fa9a5bc\d\a    \2502                                                  ^\a    \2575 \a   scss\\base\\_base.scss 18:49  @forward\a   scss\\base\\_index.scss 2:1   @use\a   scss\\main.scss 1:1          root stylesheet';
}
