*,
::before,
::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: Gordita, sans-serif;
  color: var(--text-color);
  background: var(--body-bg-color);
<<<<<<< HEAD
 
=======
>>>>>>> 1292b66331a0a0384791d5f56c62f39c8fa9a5bc
}
a {
  color: inherit;
  text-decoration: none;
}
button{
  border: none;
  outline: none;
  background: transparent;
}
button,input,textarea,select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}
.icon{
  filter: var(--icon-color);
}